.box {
  background-color: #ffcdb2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #6d6875;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .box {
    margin-bottom: 0;
  }
}

.header {
  background-color: #ffe4d6;
  width: 100%;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.name {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.skillsmain {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  list-style: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  list-style: none;
 
}

.maintechskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.maintext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
}

.mainicon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.resticon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
}