.box {
  background-color: var(--cream-color);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  color: var(--grey-color);
  border-radius: 10px;
  animation: 2s ease-out 0s 1 slideInLeft;
  margin-bottom: 10px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  background-color: var(--light-color);
  width: 100%;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.name {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    flex-direction: row;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .items:not(:last-child) {
    border-bottom: solid 4px var(--grey-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .items:not(:nth-last-child(-n+2)) {
    border-bottom: solid 4px var(--grey-color);
  }
  .items:nth-child(odd) {
    border-right: solid 2px var(--grey-color);
  }
  .items:nth-child(even) {
    border-left: solid 2px var(--grey-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .items {
    width: calc(50% - 2px);
  }
}

@media screen and (min-width: 1200px) {
  .items {
    width: calc(33.33% - 4px);
  }
  .items:nth-child(-n+3) {
    border-bottom: solid 6px var(--grey-color);
  }
  .items:nth-child(n):not(:nth-child(3n)) {
    border-right: solid 4px var(--grey-color);
  }
  .items:not(:nth-child(1)):not(:nth-child(4)) {
    border-left: solid 2px var(--grey-color);
  }
}

.items:hover {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items:hover .animation {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.animation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--grey-color);
  color: var(--light-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-top: 1px solid var(--cream-color);
}

.describe {
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 500;
  padding: 0 40px;
  align-content: center;
}

.block {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 200px;
}

.image {
  width: 200px;
  height: 150px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .image {
    padding-top: 30px;
  }
}

.block .image {
  display: block;
}

.title-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
  height: 44%;
}

@media screen and (min-width: 1200px) {
  .title-box {
    padding-bottom: 30px;
  }
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color: var(--red-color);
}

.languages {
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
}

.icon-site {
  fill: var(--cream-color);
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--green-color);
  background-color: var(--green-color);
  margin-right: 20px;
}

.icon-site:hover {
  fill: var(--green-color);
  background-color: var(--light-color);
  border: 2px solid var(--green-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-git {
  background-color: var(--green-color);
  fill: var(--cream-color);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid var(--green-color);
  padding: 5px;
}

.icon-git:hover {
  fill: var(--green-color);
  background-color: var(--light-color);
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
