.box {
  background-color: var(--cream-color);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 0;
  color: var(--grey-color);
  border-radius: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: var(--light-color);
  width: 100%;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.name {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.skills {
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 100%;
padding-top: 10px;
}

.softskills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 20px 50px;
}

.icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  padding: 20px;
  color:var(--grey-color);
  background-color:var(--light-color);
  border-radius: 20%;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
}
