.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  color: #6d6875;
  border-radius: 10px;
  animation: 2s ease-out 0s 1 slideInRight;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
  }
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  padding-bottom: 20px;
}

.items:not(:last-child) {
  border-bottom: solid 4px #6d6875;
}

@media screen and (min-width: 768px) {
  .items {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .items:not(:last-child) {
    border-bottom: solid 0px #ffcdb2;
    border-right: solid 4px #6d6875;
  }
}
